
.rainbow_text {
    background: linear-gradient(
        to right,
        rgb(250, 78, 10),
        rgb(247, 12, 204),
        rgb(0, 106, 255),
        rgb(48, 248, 255),
        rgb(250, 78, 10)
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: rainbow_animation 5s linear infinite;
}

@keyframes rainbow_animation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.dark_mode {
    background: radial-gradient(125% 125% at 50% 90%, #000000 40%, #0d1a36 100%);
    background-color: black;
}

.light_mode {
    background: radial-gradient(125% 125% at 50% 90%, #ffffff 40%, #f0f0f0 100%);
    background-color: white;
}

.theme_toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
}

.navigation_bar {
    position: fixed;
    top: 15%;
    left: 25%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 300px;
    color: chocolate;
}

.navigation_item {
    border: 1px solid;
    border-color: chocolate;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.navigation_item:hover {
    color: teal;
    border-color: teal;
}

.balex_active {
    color: green;
    border-color: green;
}

.main_text {
    position: fixed;
    top: 25%
}

.my_friends {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

.things_I_like {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}
