
.rainbow_text_animated {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    background: linear-gradient(
        to right,
        rgb(250, 78, 10),
        rgb(247, 12, 204),
        rgb(0, 106, 255),
        rgb(48, 248, 255),
        rgb(250, 78, 10)
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: rainbow_animation 5s linear infinite;
}

@keyframes rainbow_animation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.dark_mode {
    background: radial-gradient(125% 125% at 50% 90%, #000000 40%, #0d1a36 100%);
    background-color: black;
}

.light_mode {
    background: radial-gradient(125% 125% at 50% 90%, #ffffff 40%, #f0f0f0 100%);
    background-color: white;
}

.theme_toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
}